.seccion-contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    min-height: 100vh;
    background-color: #a8cdff;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

.seccion-contactos  h1 {
    font-size: 2rem;
    margin-bottom: 1, 5rem;
    color: #180f7d;
}

.lista-contactos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contacto {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    color: #0c0555;
}

.contacto img {
    width: 65px;
    height: 60px;
}

.contacto a {
    color: #0c0555;
    text-decoration: none;
}

.telefono-contacto {
    font-weight: bold;
}