.volver-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: #3d6490;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.volver-button:hover {
    background-color: #003d80;
}

.botonesOscuros {
    display: flex;
    justify-content: center;
}

.botonOscuro {
    width: 200px;
    height: 60px;
    background-color: #180F7D;
    color: #ffffff;
    font-family: "Noto sans", sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
}

.botonOscuro:hover {
    box-shadow: 5px 5px 5px rgba(255, 255, 255);
}

.botonesClaros {
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 70px 70px;
    position: fixed;  
    bottom: 20px;     
    right: 20px;      
    gap: 10px;       
}

.botonClaro {
    background-color: #ffffff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-family: "Noto Sans", sans-serif;
    color: #A8CDFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botonClaro:hover {
    box-shadow: 2px 2px 2px rgba(24, 15, 125, 1);
}