@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');
.containerBiblio {
    align-items: center;
}

.titulo {
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
    color: #0c0555;
    font-weight: 400;
}